<h1>Admin Area</h1>

Welcome to forem's Admin Area.<br />
<br />
<%= link_to "Forums", admin_forums_path %><br />
<%= link_to "Inappropriate Posts", admin_inappropriate_posts_path %><br />
<%= link_to "Bans", admin_bans_path %><br />
